<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <p>Thanks for visiting.</p>
            </div>
        </div>
    </div><!-- .container -->   
</footer>
</body>
</html>
